# Terraform
.terraform/
**/.terraform/
*terraform.tfvars
*.tfvars
.tf-last-apply

# Nix
result
result-*

# Secrets
keys/
!keys/.keep

# OS
.DS_Store
.env
.direnv/

# Stack Secrets
letsencrypt/
auth/htpasswd

# Test/build artifacts
images/
*.iso
*.img
*.qcow2
*.sock
*.tfvars.json
